<hr>

<div>
  <div>
    <p class="fs-5">
      Add a new transaction
    </p>
    <div class="d-flex flex-row mb-3 justify-content-center"> 
      <form action="/insert_transaction" method="post" class="col-md-4">
        <div class="row mb-3">
          <div class="col-sm-10">
            <input type="hidden" class="form-control" type="text" id="merchant_name_box" name="query_merchant_name" value="<%= @the_merchant_name_param %>">
          </div>
        </div>

        <div class="row mb-3">
          <label for="amount_box" class="col-sm-2 col-form-label">
            Amount
          </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="amount_box" name="query_amount">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-10">
            <input type="hidden" class="form-control" type="text" id="cashback_box" name="query_cashback" value="<%= @the_cash_back_param %>">
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-sm-10">
            <input type="hidden" class="form-control" type="text" id="user_card_id_box" name="query_user_card_id" value="<%= @the_card_id_param %>">
          </div>
        </div>

        <div class="row mb-3">
          <label for="location_box" class="col-sm-2 col-form-label">
            Location
          </label>
          <div class="col-sm-10">
            <input class="form-control" type="text" id="location_box" name="query_location">
          </div>
        </div>

        <p></p>

        <div>
          <button class="btn btn-success">
            Record Transaction
          </button>
        </div>
      </form>
    </div>
  </div>
</div>


