<p class="fs-5 fw-bold">Welcome <%= @user_name.first_name %></p>

<hr>

<div class="d-flex flex-row mb-3 justify-content-center">
<div>
  <div>

    <form action="/merchant_search" method="post">

        <label for="card_4_digits_box">
          Enter merchant name
        </label>

        <input type="text" id="merchant" name="merchant_name">


      <button class="btn btn-outline-success">
        Lookup!
      </button>
    </form>
  </div>
</div>
<p></p>
</div>
<div>

      <a class="btn btn-success" href="/user_cards">
        Add New Card
      </a>
</div>


<hr>
<div class="d-flex flex-row mb-3 justify-content-center">
  <p class="fs-5 fw-bold">Wallet</p>
</div>

<% @list_of_cards.each do |a_card| %>
  <div class="d-flex flex-row mb-3 justify-content-center">
    <div class="card text-center" style="width: 18rem;">
      <img src="<%= a_card.card.image %>" class="card-img-top">
      <div class="card-body">
        <h5 class="card-title fs-6"><%= a_card.card.card_name%></h5>
        <p class="card-text"></p>
        <a href="/delete_user_card/<%= a_card.id %>" class="btn btn-outline-danger">Delete Card!</a>
      </div>
    </div>
  </div>
<% end %>
