<h1>Welcome <%= @user_name.email %></h1>

<div>
  <div>
    <h2>
      Merchant Lookup
    </h2>

    <form action="/merchant_search" method="post">
      <div>
        <label for="card_4_digits_box">
          Enter merchant name
        </label>

        <input type="text" id="merchant" name="merchant_name">
      </div>

      <button>
        Lookup!
      </button>
    </form>
  </div>
</div>

<div>
    <h3>
      Add New card
    </h3>

      <a href="/user_cards">
        Add New Card
      </a>
</div>

<h3>Wallet</h3>
<table border="1">
  <% @list_of_cards.each do |a_card| %>
    <tr>
      <td><%= a_card.card.card_name%></td>
      <td><img src="<%= a_card.card.image %>"></td>
    <tr>
  <% end %>
</table>
