<h1>Welcome <%= @user_name.email %></h1>

<div>
  <div>
    <h2>
      Merchant Lookup
    </h2>

    <form action="/merchant_search" method="post">
      <div>
        <label for="card_4_digits_box">
          Enter merchant name
        </label>

        <input type="text" id="merchant" name="merchant_name">
      </div>

      <button class="btn btn-outline-success">
        Lookup!
      </button>
    </form>
  </div>
</div>
<p></p>
<div>
    <h3>
      Add New card
    </h3>

      <a class="btn btn-success" href="/user_cards">
        Add New Card
      </a>
</div>

<hr>
<h3>Wallet</h3>
<table border="1">
  <% @list_of_cards.each do |a_card| %>
    <tr>
      <td>
        <%= a_card.card.card_name%>
      </td>

      <td>
        <img src="<%= a_card.card.image %>">
      </td>

      <td>
        <a class="btn btn-outline-danger" href ="/delete_user_card/<%= a_card.id %>">Delete Card!</a>
      </td>
    <tr>
  <% end %>
</table>
