<h3>Selected Card</h3>

<div>
  <h5><%= @card.card_name %></h5>
</div>

<div>
  <img src="<%= @card.image %>">
</div>

<div>
  <h5>Cash Back <%= @maximum_cashback %>%</h5>
</div>

<%= @error_result %>



<div>
    <h5>
      Make a Payment
    </h5>

      <a class="btn btn-outline-success" href="/transactions">
        Pay
      </a>
</div>
