<p class="fs-5 fw-bold">Selected Card</p>

<div>
  <p class="fs-6"><%= @card.card_name %></hp>
</div>

<div>
  <img src="<%= @card.image %>">
</div>

<div>
  <p class="fs-5 fw-bold">Cash Back <%= @maximum_cashback %>%</p>
</div>


<div>
    <p class="fs-6">
      Make a Payment
    </p>

      <a class="btn btn-outline-success" href="/transactions">
        Pay
      </a>
</div>
