<h1>Selected Card</h1>

<div>
  <h2><%= @card.card_name %></h2>
</div>

<div>
  <img src="<%= @card.image %>">
</div>

<div>
  <h3>Cash Back <%= @maximum_cashback %>%</h3>
</div>

<div>
  <%= @selected_cat %>
</div>

<div>
    <h3>
      Make a Payment
    </h3>

      <a class="btn btn-outline-success" href="/transactions">
        Pay
      </a>
</div>
