<div >
  <h5>
    Edit User Account
  </h5>

  <div>
    <form action="/modify_user" method="post">
      <div>
        <label for="email_box">Email</label>
        <input id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>
      <div>
        <label for="phone_box">Phone</label>
        <input id="phone_box" name="query_phone" value="<%= @current_user.phone %>">
      </div>
      <div>
        <label for="savings_box">Savings</label>
        <input id="savings_box" name="query_savings" value="<%= @current_user.savings %>">
      </div>
      <div>
        <label for="spending_box">Spending</label>
        <input id="spending_box" name="query_spending" value="<%= @current_user.spending %>">
      </div>

      <div>
        <label for="password_box">Password</label>
        <input id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div>
        <label for="password_confirmation_box">Password Confirmation</label>
        <input id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <button>
        Update account
      </button>
    </form>
  </div>
</div>
