<div>
  <p class="fs-5 fw-bold">
    Edit Profile
  </p>

  <div class="d-flex flex-row mb-3 justify-content-center">
    <form action="/modify_user" method="post" class="row g-3 col-md-6">

      <div class="col-md-6">
        <label for="first_name_box" class="form-label">First Name</label>
        <input class="form-control" id="first_name_box" name="query_first_name" value="<%= @current_user.first_name %>">
      </div>

      <div class="col-md-6">
        <label for="last_name_box" class="form-label">Last Name</label>
        <input class="form-control" id="last_name_box" name="query_last_name" value="<%= @current_user.last_name %>">
      </div>
      
      <div class="col-6">
        <label for="password_box" class="form-label">Password</label>
        <input class="form-control" id="password_box" name="query_password" placeholder="Choose a password..." type="password">
      </div>
    
      <div class="col-6">
        <label for="password_confirmation_box" class="form-label">Password Confirmation</label>
        <input class="form-control" id="password_confirmation_box" name="query_password_confirmation" placeholder="Confirm your password..." type="password">
      </div>

      <div class="col-12">
        <label for="email_box" class="form-label">Email</label>
        <input class="form-control" id="email_box" name="query_email" value="<%= @current_user.email %>">
      </div>

      <div class="col-12">
        <label for="phone_box" class="form-label">Phone</label>
        <input class="form-control" id="phone_box" name="query_phone" value="<%= @current_user.phone %>">
      </div>

      <button class="btn btn-outline-success">
        Update Profile
      </button>
    </form>
    <hr>
  </div>
  <p></p>
  <div class="d-flex">
    <p><a class="btn btn-outline-danger" href="/cancel_user_account">Cancel Account</a></p>
  </div>
</div>
